:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;

  background-color: #f2f6f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.main-header-menu {
  background-color: #13191d;
}
img {
  width: 50px;
  height: 50px;
}

.card {
  border-radius: 1em;
  max-width: 33%;
  margin: 2em;
  padding: 1em;
  background-color: #13191d;

}

h1 {
  font-size: 3em;
  line-height: 1.1;
  color: #ff9900;
}

h2 {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
h2:hover {
  text-shadow: 0 0 0.5em #50aaeb;
  color:#4196d3;
}

h3 {
  color: #ff9900;
}

p {
  color: #f2f6f5;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}